.Not-found {
  background: #000825;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 50px;
  height: 100vh;
  color: #fff;
}
.Not-found__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.titulo {
  font-weight: 800;
  letter-spacing: 15px;
}
.img_error {
  height: 348px;
}
.btn.btn-primary {
}
