.container-projec {
  flex-flow: column;
}
.container-description {
  color: rgb(232, 230, 227);
  width: 550px;
  margin-bottom: 70px;
  align-self: flex-end;
}
.container-projecs {
}
.container-things-we {
  display: flex;
  margin-bottom: 100px;
}
.container-text {
}
.container-titlee {
  text-align: end;
  padding: 0 50px;
}
.container-text-projects {
  font-size: 17px;
  background: rgb(0, 0, 0);
  padding: 4px 28px;
  border-radius: 7px;
  position: relative;
  right: 45px;
  text-align: end;
  line-height: 34px;
  color: #d6d6d6;
}
.title-project {
  margin: 0;
  color: rgb(237, 255, 75);
}
.text-projects {
  font-size: 17px;
  margin: 0;
  line-height: 25px;
}

.secondary-title {
  font-size: 30px;
  margin-bottom: 0;
}
.third-title {
  margin: 10px 0;
  font-size: 23px;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 200;
}
.description-projects {
  color: #d6d6d6;
  margin: 10px 0;
}
.container-img-hide {
  display: none;
}
/* reverse */

.container-img-reverse {
  padding: 1px 85px 0px 0px;
}
.container-titlee-reverse {
  text-align: initial;
}
.container-text-projects-reverse {
  padding: 4px 28px;
  position: relative;
  right: -45px;
  text-align: inherit;
}
@media screen and (max-width: 768px) {
  .container-things-we {
    display: block;
  }
  .container-titlee {
    text-align: center;
    padding: 30px 50px;
  }
  .container-text-projects {
    margin: 0px 20px;
    position: initial;
  }
  .container-img-hide {
    display: flex;
  }
  .container-projects {
    padding-top: 0;
  }
  .secondary-title {
    margin-top: 0;
  }
  .container-description {
    text-align: center;
    width: 100%;
  }
  .container-img-reverse {
    display: none;
  }
}
@media screen and (max-width: 500px) {
  .container-text-projects {
    margin: 0px 5px;
    text-align: center;
    padding: 4px 10px;
    font-size: 15px;
    line-height: 29px;
  }
}
