body {
  background: #000825;
  line-height: 1.3;
  font-family: "Calibre", "San Francisco", "SF Pro Text", sans-serif;
  font-size: 19px;
  height: 1000vh;
}
p {
  margin: 25px 0;
  letter-spacing: 0.4px;
}
ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 17px;
}
/* about us */
.section-midle {
  max-width: 1550px;
  margin: 0 auto;
}
.container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 100px 80px;
}
.container-text-about-us {
  color: #d6d6d6;
  max-width: 450px;
  padding: 0 50px;
}
.container-title {
  display: flex;
  color: #ffff;
  font-size: 15px;
}
.title-number {
  color: #85ffd6;
  margin-right: 4px;
}

.title-number-1 {
  color: #85ffd6;
  margin: 0;
  position: relative;
  top: -8px;
  right: -59px;
}

.title-number-2 {
  color: #85ffd6;
  margin: 0;
  position: relative;
  top: 58px;
}

.container-img {
  display: flex;
  align-items: center;
  padding: 0 0 45px 45px;
}
.imagen-about-us {
  width: 500px;
  border-radius: 7px;
}

.container-projects {
  margin-bottom: 50px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "container-title container-title"
    "space container-description";
}
.title-projects {
  grid-area: container-title;
}
.space {
  grid-area: space;
}
.container-description {
  grid-area: container-description;
  position: relative;
  top: 200px;
  width: 550px;
  right: -30px;
  height: 245px;
  margin-bottom: 200px;
}
.title-grande {
  font-size: 150px;
  width: 100px;
  position: relative;
}
.title-prueba {
  font-size: 63px;
  width: 484px;
}
.secondary-title {
  font-size: 39px;
  margin-bottom: 0;
}
.third-title {
  margin: 10px 0;
  font-size: 26px;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: 200;
}
.text-projects {
  margin: 0;
  line-height: 25px;
}
