body {
  background: #000825;
  line-height: 1.3;
  font-family: "Calibre", "San Francisco", "SF Pro Text", -apple-system,
    system-ui, sans-serif;
  font-size: 19px;
}
p {
  margin: 35px 0;
  letter-spacing: 0.4px;
}
ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(140px, 200px));
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}
li {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size: 17px;
}
.container {
  display: flex;
  margin: 0px auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 100px 80px;
}
.container-text-about-us {
  color: #d6d6d6;
  max-width: 450px;
  padding: 0 50px;
}
.container-title {
  display: flex;
  color: #ffff;
  font-size: 15px;
}
.title-number {
  color: #85ffd6;
  margin-right: 4px;
}
.container-text {
}
.container-img {
  display: flex;
  align-items: center;
  padding: 0 0 45px 85px;
}
.imagen-about-us {
  width: 500px;
  border-radius: 7px;
}
